
<br><h1>Hello admin!</h1>
<div class="jumbotron">
<table class="table  table-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">E-mail id</th>
       <th scope="col">Created On</th>
      <th scope="col">Action</th>
       <th scope="col">Action</th>
    
    </tr>
  </thead>

  <tbody>
      <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
        <td><%= user.created_at.to_s.split(' ')[0]  %></td>
      <td><%= link_to "Delete User", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } ,class:"btn btn-outline-danger btn-sm"%></td>
      <td>

      </td>
    </tr>
  <% end %>
  </tbody>
  
</table>
</div>